[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-rest-auth = "==0.9.2"
djangorestframework = ">=3.7.0"
django-allauth = ">=0.24.1"
six = "==1.9.0"
Django = ">=1.9.0"

[dev-packages]
factory-boy = "*"
faker = "*"

[requires]
python_version = "3"
